
body{
    font-family: Arial, sans-serif;
    background-color: #d0e4f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(43, 133, 189);
}
.container {
    width: 80%;
    max-width: 600px;
    height: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: white;        
}

h2 {
    margin-top: 0;
}
.input-section, .list-section, .xml-list-section{
    margin-bottom: 5px;
}
.xml-list-section {
    display: none;
}
.input-button-group {
    display: flex;
    align-items: center;
}

.input-button-group input {
    width: 100%;
    padding: 5px;
}
.button-section #copy-button{
    padding: 5px 21px;
    margin: 0;
}
.button-section .add-button {
    padding: 5px 27px;  
    margin: 0;
}

#name-value-list {
    width: 100%;
    height: 100%;
    padding: 5px;
    resize: none;
}

.button-section {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button-section button {
    padding: 5px;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 10px;
}

#pair-XML {
    width: 100%;
    height: 100%;
    padding: 5px;
    resize: none;
}